/* Company Status Check Styles */

.company-status-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    padding: 2rem;
}

.company-status-loading h2 {
    margin: 0;
}

.company-status-loading p {
    margin: 0.5rem 0 0 0;
}